header {
  display: flex;
  /*
    flex-direction me permite cambiar la dirección de los elementos hijos
     row: los elementos se alinean horizontalmente (por defecto)
     column: los elementos se alinean verticalmente
  */
  flex-direction: column;
  /*
    align-items me permite alinear los elementos hijos a lo largo del eje secundario (vertical por defecto).
    Posibles valores:
    - flex-start: Los elementos se alinean al inicio del eje secundario.
    - flex-end: Los elementos se alinean al final del eje secundario.
    - center: Los elementos se alinean en el centro del eje secundario.
    - baseline: Los elementos se alinean según su línea base.
    - stretch: Los elementos se estiran para llenar el contenedor (por defecto).
  */
  align-items: center;
  padding: 30px 20px;
  background-image: url("https://www.apple.com/v/home/cl/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_large.jpg");
  /*
    background-size me permite controlar el tamaño de la imagen de fondo.
    Posibles valores:
    - cover: La imagen se escala para cubrir todo el contenedor, manteniendo su proporción. Puede recortar partes de la imagen si las proporciones no coinciden.
    - contain: La imagen se escala para caber dentro del contenedor, manteniendo su proporción. Puede dejar espacio vacío si las proporciones no coinciden.
     - auto: La imagen mantiene su tamaño original.
    - 100% 100%: La imagen se estira para llenar todo el contenedor, sin mantener su proporción.
    - Un valor específico (por ejemplo, 200px 300px): La imagen se escala a las dimensiones especificadas, sin mantener su proporción.
  */
  background-size: cover;
  /*
    background-repeat me permite controlar si la imagen de fondo se repite o no.
    Posibles valores:
    - repeat: La imagen se repite tanto horizontal como verticalmente (por defecto).
    - no-repeat: La imagen no se repite, solo se muestra una vez.
    - repeat-x: La imagen se repite solo horizontalmente.
    - repeat-y: La imagen se repite solo verticalmente.
      - space: La imagen se repite, pero se distribuye de manera que haya espacio entre las copias de la imagen.
      - round: La imagen se repite, pero se escala para que encaje exactamente en el contenedor sin recortarse ni dejar espacio.
  */
  background-repeat: no-repeat;
  /*
  background-position me permite controlar la posición de la imagen de fondo dentro del contenedor.
  Posibles valores: 
  - left: La imagen se alinea a la izquierda del contenedor.
  - right: La imagen se alinea a la derecha del contenedor.
  - top: La imagen se alinea a la parte superior del contenedor.
  - bottom: La imagen se alinea a la parte inferior del contenedor.
  - center: La imagen se centra dentro del contenedor (por defecto).
    - Un valor específico (por ejemplo, 50% 50%): La imagen se posiciona en el punto especificado dentro del contenedor, donde el primer valor representa la posición horizontal y el segundo valor representa la posición vertical.
  */
  background-position: center;
  /*
  min-height me permite establecer una altura mínima para el elemento.
  Esto es útil para asegurarse de que el elemento tenga suficiente espacio para mostrar su contenido, incluso si el contenido es dinámico o si la imagen de fondo no tiene una altura suficiente.
  posibles valores:
  - Un valor específico (por ejemplo, 500px): El elemento tendrá una altura mínima de 500 píxeles.
  - auto: El elemento no tendrá una altura mínima, y su altura se ajustará automáticamente al contenido (por defecto).
  medidas normalmente utilizadas para pantallas:
  - vh: Unidad de medida relativa a la altura de la ventana gráfica. 1vh es igual al 1% de la altura de la ventana gráfica.
  - %: Unidad de medida relativa al elemento contenedor. 100% es igual a la altura del elemento contenedor.
  */
  min-height: 600px;
}

header > h2, .ipad > h2, .ipods > h2, .producto > h2 {
  font-size: 48px;
}

header > h3, .ipad > h3, .ipods > h3, .producto > h3 {
  font-size: 24px;
  font-weight: 400;
}

header > div, .ipad > div, .ipods > div, .producto > div {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.boton-destacado {
  background-color: #0071e3;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  transition: all 0.5s ease;
}

/*
  PSEUDOCLASES
  Las pseudoclases me permiten aplicar estilos a elementos en función de su estado o posición en el documento.
  Algunos ejemplos de pseudoclases:
  - :hover: Aplica estilos cuando el usuario pasa el cursor sobre el elemento.
  - :active: Aplica estilos cuando el elemento está siendo activado (por ejemplo, cuando se hace clic en un botón).
  - :focus: Aplica estilos cuando el elemento tiene el foco (por ejemplo, cuando se selecciona un campo de formulario).
  - :first-child: Aplica estilos al primer hijo de un elemento.
  - :last-child: Aplica estilos al último hijo de un elemento.
  - :nth-child(n): Aplica estilos al enésimo hijo de un elemento, donde n puede ser un número, una palabra clave (como "odd" o "even"), o una fórmula (como "2n+1").
  - :not(selector): Aplica estilos a los elementos que no coinciden con el selector
  - :disabled: Aplica estilos a los elementos que están deshabilitados.
  - :checked: Aplica estilos a los elementos que están seleccionados (por ejemplo, casillas de verificación o botones de opción).
*/

.boton-destacado:hover {
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;
  /*
    transition me permite controlar la velocidad de las transiciones entre estados de un elemento.
    Posibles valores:
    - all: Aplica la transición a todas las propiedades que cambian (por defecto).
    - Un valor específico (por ejemplo, background-color): Aplica la transición solo a la propiedad especificada.
    - duration: Especifica la duración de la transición (por ejemplo, 0.3s para 300 milisegundos).
    - timing-function: Especifica la función de temporización de la transición (por ejemplo, ease, linear, ease-in, ease-out, etc.).
    - delay: Especifica un retraso antes de que comience la transición (por ejemplo, 0.1s para 100 milisegundos).
  */
  transition: all 0.5s ease;
  cursor: pointer;
}

.boton {
  background-color: transparent;
  color: #0071e3;
  padding: 6px 20px;
  border-radius: 25px;
  /*
  border me permite establecer un borde alrededor de un elemento.
  */
  border: 1px solid #0071e3;
  transition: all 0.5s ease;
}

.boton:hover {
  background-color: #0071e3;
  color: white;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

/*
header > div > button:first-child {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border-radius: 20px;
}
*/

/*----SECCIONES----*/

.ipad, .ipods, .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  margin: 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
}

.ipad {
  background-image: url("https://www.apple.com/v/home/cl/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_large.jpg");
}

.ipods {
  background-image: url("https://www.apple.com/v/home/cl/images/heroes/airpods-pro-3/hero_airpodspro_3__dn7gz4l22ree_large.jpg");
}

.iwatch {
  background-image: url("https://www.apple.com/la/home/promos/25_watch-series-11_09/images/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
}

.macbookair{
  background-image: url("https://www.apple.com/v/home/cl/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_large.jpg");
}

.macbookpro {
  color: white;
  background-image: url("https://www.apple.com/v/home/cl/images/promos/macbook-pro-m5/promo_macbook_pro_m5__gnwzdhijhm6a_large.jpg");
}

.ipadpro {
  color: white;
  background-image: url("https://www.apple.com/v/home/cl/images/promos/ipad-pro/promo_ipad_pro__c529dk533k4m_large.jpg");
}

.productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
}

.producto {
    /*
    el !important me permite darle prioridad a una regla de estilo sobre otras reglas que puedan 
    entrar en conflicto. Esto es útil cuando quieres asegurarte de que un estilo específico se aplique, 
    incluso si hay otras reglas que podrían anularlo.

    Sin embargo, el uso de !important debe ser limitado, ya que puede dificultar el mantenimiento del código 
    y hacer que sea más difícil de depurar. Es recomendable usarlo solo como último recurso cuando no hay otra 
    forma de lograr el resultado deseado.
  */
  margin: 0!important;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
}

.slider-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}